.navigation-list {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, calc(100% / 3));
}

.navigation-list__item {
    list-style-type: none;
    border: 1px solid rgb(99, 28, 89);
}

.navigation-list__btn {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 20px 30px;
    transition: opacity, background-color .3s ease-in-out;
}

.navigation-list__item:nth-of-type(2) {
    border: none;
}

.navigation-list__icon {
    height: var(--navFontSize);
    width: var(--navFontSize);
}


/************ PSEUDO CLASSES ************/
.navigation-list__btn:hover {
    opacity: .9;
    background-color: rgba(208, 169, 9, 0.33);
    border-radius: 5px;
}


/************ MEDIA QUERIES ************/
@media screen and (min-width: 560px) {
    .navigation-list {
        grid-template-columns: repeat(6, calc(100% / 6));
        grid-template-rows: 100%;
    }

    .navigation-list__item {
        list-style-type: none;
        border: 1px solid transparent;
    }

    .navigation-list__item--github {
        justify-self: flex-end;
        grid-column-start: 6;
    }
}